<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="/Users/renumaharjan/Workspace/Automation_Selenium_Projects/Seva1">
        <classes>
            <class name="UserRegistration"></class>
            <class name="Shopping"></class>
        </classes>
    </test>
</suite>